* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.navlist {
    display: flex;
}

.navlist a {
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover {
    border-bottom: 2px solid white;
}

#menu-icon {
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.sport {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: black;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section {
    padding: 0 19%;
}

.sport-text h1 {
    font-family: sans-serif;
    font-size: 50px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}

.sport-text p {
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}

.sport-text a:hover {
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

@media (max-width: 1535px) {
    header {
        padding: 15px 3%;
        transition: .2s;
    }

    @media (max-width: 1460px) {
        section {
            padding: 0 12%;
            transition: .2s;
        }
    }

    @media (max-width: 1340px) {
        .sport-img img {
            width: 100%;
            height: auto;
        }

        .sport-text h1 {
            font-size: 75px;
            margin: 0 0 30px
        }

        @media (max-width: 1195px) {
            section {
                padding: 0 3%;
                transition: .2s;
            }

            .sport-text {
                padding-top: 115px;
            }

            .sport-img {
                text-align: center;
            }

            .sport-img img {
                width: 560px;
                height: auto;
            }

            .sport {
                height: 100%;
                gap: 1rem;
                grid-template-columns: 1fr;
            }

            @media (max-width: 680px) {
                .sport-img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}